<><><><><><><><><><><><><><><>><><><>
<h1>Registration Listing </h1>
<><><><><><><><><><><><><><><>><><><>
<p> . </p>
<table>
  <tr>
    <th>Last name..... </th>
    <th>First name.....  </th>
    <th>Job title.......  </th>
    <th>Department........  </th>
    <th>Phone.......  </th>
    <th>Email.......  </th>
  </tr>

<% for registration in @registrations %>
  <tr>
    <td><%=h registration.Last_name %></td>
    <td><%=h registration.First_name %></td>
    <td><%=h registration.Job_title %></td>
    <td><%=h registration.Department %></td>
    <td><%=h registration.Phone %></td>
    <td><%=h registration.Email %></td>
    <td><%= link_to 'Show', registration %></td>
    <td><%= link_to 'Edit', edit_registration_path(registration) %></td>
    <td><%= link_to 'Destroy', registration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', '../home' %>
